* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.header {
  background-image: url(../img/bg-back-desktop@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 130px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 5px; }

.menu .menu__item {
  display: inline-block; }

.menu__item {
  padding-left: 83px; }
  @media screen and (max-width: 1132px) {
    .menu__item {
      display: none; } }

.menu__link {
  color: #fff;
  text-decoration: none; }
